*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
/*    background-color: #FFF7F7;*/


    }

body{
    background-color: #FFF7F7;
}


.img404{
    max-width: 35%;
    height: auto;
}



.navbar {
   background-color: #F6C1C1;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.appnavbar{
    position: fixed;
    top: 0;
    overflow: hidden;
}



.carouselCap{
    background-color: #F6C1C1;
    opacity: 0.9;
    border-radius: 10px;
    
}
.imgCar{
     border-radius: 25px;
}

footer{
    background-color: #FEEBD6;
}